h1 {
	color: yellow;
}

.grid {
	display: grid;
	width: 1000px;
	height: 500px;
	grid-template: 50px / 200px 200px;
}

.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
  text-align: center;
  font-size: 30px;
}

.text {
	font-size: 30px;
	text-align: center;
}